*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #B8E2C8;
}
.container{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 1rem;
}
.game{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    height: 72vmin;
    width: 72vmin;
    /* border: 1px solid black; */
}
h1{
    font-size: 2.5rem;
}
.box{
    background-color: #A5B5BF;
    height: 23vmin;
    width: 23vmin;
    border-radius: 0.5rem;
    font-size: 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #c51e31; */
    border: none;
    /* animation: dis 1.5s; */
    /* animation-iteration-count: 1; */
}
.ani{
    animation: dis 100ms;
    transform: 1s;
}

@keyframes dis{
    0%{
        font-size: 0;
    }
    25%{
        font-size: 2rem;
    }
    50%{
        font-size: 4rem;
    }
    75%{
        font-size: 6rem;
    }
    100%{
        font-size: 8rem;
    }
}

.reset{
    padding: 0.8rem 2.8rem;
    font-size: 1.5rem;
    background-color: transparent;
    font-weight: 700;
    border: 3px solid black;

}
.win-name{
    font-size: 1.5rem;
    font-weight: 700;
}

@media (max-width:550px) {
    .container{
        gap: 2.5rem;
    }
    .game{
        height: 90vmin;
        width: 90vmin;
    }
    .box{
        height: 27vmin;
        width: 27vmin;
        font-size: 8rem;
    }
    @keyframes dis{
        0%{
            font-size: 1rem;
        }
        100%{
            font-size: 8rem;
        }
    }
}

@media(max-width:450px){
    .box{
        font-size: 6.5rem;
    }
    @keyframes dis{
        0%{
            font-size: 1rem;
        }
        100%{
            font-size: 6.5rem;
        }
    }
}
@media(max-width:350px){
    .box{
        font-size: 5.5rem;
    }
    @keyframes dis{
        0%{
            font-size: 1rem;
        }
        100%{
            font-size: 5.5rem;
        }
    }
}
@media(max-width:250px){
    .container{
        gap: 1.5rem;
    }
    .box{
        height: 25vmin;
        width: 25vmin;
        font-size: 3rem;
    }
    h1{
        font-size: 2rem;
    }
    .reset{
        font-size: 1.1rem;
        padding: .5rem 1rem;
    }
    @keyframes dis{
        0%{
            font-size: 0rem;
        }
        100%{
            font-size: 3rem;
        }
    }
}
